@font-face {
  font-family: 'Copernicus';
  src: url('../fonts/copernicus_webfont/Copernicus-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/copernicus_webfont/Copernicus-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/copernicus_webfont/Copernicus-Heavy.woff') format('woff'),
    url('../fonts/copernicus_webfont/Copernicus-Heavy.ttf') format('truetype'),
    url('../fonts/copernicus_webfont/Copernicus-Heavy.svg#53d86533bbd20bc075f6ce29028572cc')
      format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 400;
}
